<ion-header>
  <ion-toolbar>
      <center><h5>REPUBLIC OF THE MAHARLIKA  DEPARTMENT OF TRANSPORTATION <br>
      LAND AIR TRANSPORTATION OFFICE <br> Daang Binuksan, Cabanatuan City<br>INSPECTION REPORT
    </h5></center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <!-- <center><img src="assets/logo/neust.png" width="120" height="120">
      <h5>NEUST Papaya Off-Campus <br> STUDENT REGISTRATION</h5></center> -->
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">NAME OF DRIVING SCHOOL/<br>TRAINING CENTER<ion-text color="danger">   *</ion-text></ion-label>
        <ion-input placeholder="NAME OF DRIVING SCHOOL/TRAINING CENTER"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ADDRESS<ion-text color="danger">   *</ion-text></ion-label>
        <ion-input placeholder="ADDRESS"></ion-input>
      </ion-item>
      <br><br>
      <h2>CLASSROOM AREA (√)</h2>
      <ion-item>
        <ion-list>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>A. Must not be less than twenty-four (24) square meters </ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>B. Fully airconditioned or well-ventilated classroom</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>C. restructured set of traffic symbols, indications and <br>street markings,
                        exhibition and Acoustic-photographic <br> materials.</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>D .Closed circuit television (CCTV) system with built-in <br> date and time
              recording features</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>E. Chair with an armrest, seat measuring not less than <br> 0.5x0.5 meter</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label> F. Parts assemblies, or automotive components that <br> are aids <br> in teaching
              “Troubleshooting”
              </ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
      <h2>LIBRARY FACILITIES: (√)</h2>
      <ion-item>
        <ion-list>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>A. Must not be less than twenty-four (24) square meters </ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>B. Fully airconditioned or well-ventilated classroom</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>C. restructured set of traffic symbols, indications and <br>street markings,
                        exhibition and Acoustic-photographic <br> materials.</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>D .Closed circuit television (CCTV) system with built-in <br> date and time
              recording features</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>E. Chair with an armrest, seat measuring not less than <br> 0.5x0.5 meter</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label> F. Parts assemblies, or automotive components that <br> are aids <br> in teaching
              “Troubleshooting”
              </ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>