<ion-app>
  <ion-menu side="start" menuId="neustmenu" contentId="mainmenu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>NEUST Papaya Off-Campus</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list>
        <ion-item>
          <ion-icon name="person-add-outline"></ion-icon><ion-label color="primary" style="margin-left: 10px;">Registration</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="newspaper-outline"></ion-icon><ion-label color="primary" style="margin-left: 10px;">Philippine Constitution</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="bookmark-outline"></ion-icon><ion-label color="primary" style="margin-left: 10px;">Examination</ion-label>
        </ion-item>
        <ion-item><ion-icon name="log-in-outline"></ion-icon><ion-label color="primary" style="margin-left: 10px;">Login</ion-label></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainmenu"></ion-router-outlet>
</ion-app>
